# Gestion des Données Utilisateur : SQL et MongoDB
Dans ce notebook, nous allons résoudre le cas pratique proposé en utilisant des bases de données relationnelles (PostgreSQL) et NoSQL (MongoDB).
### Objectifs
1. Charger des données dans une base PostgreSQL.
2. Effectuer des opérations CRUD (Create, Read, Update, Delete) sur PostgreSQL.
3. Enrichir les données avec une classification par groupe d'âge.
4. Transférer les données enrichies dans MongoDB.
5. Effectuer des opérations CRUD sur MongoDB.

### Étape 1 : Connexion et création de la table `utilisateurs`
Nous avons établi une connexion avec PostgreSQL et créé une table simple nommée `utilisateurs`, contenant les champs suivants :
- **id** : Clé primaire.
- **nom** : Nom de l'utilisateur.
- **prenom** : Prénom de l'utilisateur.
- **age** : Âge de l'utilisateur.

In [1]:
import psycopg2

# Connexion à PostgreSQL
conn = psycopg2.connect(
    dbname="mydb",
    user="admin",
    password="admin",
    host="postgres_container",
    port="5432"
)
cursor = conn.cursor()

# Création de la table utilisateur
cursor.execute("""
CREATE TABLE IF NOT EXISTS utilisateurs(
    id SERIAL PRIMARY KEY,
    nom VARCHAR(50),
    prenom VARCHAR(50),
    age INT
);
""")
conn.commit()
print("Table utilisateurs créée.")

Table utilisateurs créée.

### Étape 2 : Géneration d' un script sql qui servira plus tard à remplir notre table  `utilisateurs`

In [2]:
import random

noms = [
    "Adom", "Abebe", "Baako", "Bakary", "Chilombo", "Diallo", 
    "Eze", "Fofana", "Koffi", "Mabika", "Ngoma", "Ouedraogo", 
    "Soumahoro", "Tshisekedi", "Zongo"
]
prenoms = [
    "Awa", "Kwame", "Fatou", "Ibrahim", "Nia", "Amadou", 
    "Kossi", "Aminata", "Bintou", "Togbui", "Chinwe", "Diarra", 
    "Ndidi", "Zara", "Adama"
]

# Génération du fichier SQL
with open("insert_users.sql", "w") as file:
    file.write("INSERT INTO utilisateurs (nom, prenom, age) VALUES\n")
    
    for i in range(5000):
        nom = random.choice(noms)
        prenom = random.choice(prenoms)
        age = random.randint(18, 60)
        line = f"('{nom}', '{prenom}', {age})"
        if i < 4999:
            line += ",\n"
        else:
            line += ";\n"
        file.write(line)

print("Fichier SQL généré : 'insert_users.sql'")

Fichier SQL généré : 'insert_users.sql'

### Étape 3 : Remplissage de la table

In [3]:
# Lecture du script SQL
sql_file = "insert_users.sql"
with open(sql_file, "r") as file:
    sql_script = file.read()

# Connexion à PostgreSQL et exécution du script
try:
    # Exécution du script
    cursor.execute(sql_script)
    conn.commit()
    print("Script SQL exécuté avec succès et données insérées.")

except Exception as e:
    print("Erreur :", e)

Script SQL exécuté avec succès et données insérées.

### Étape 4 : Consultation des utilisateurs
Cette requête permet de lire toutes les données présentes dans la table `utilisateurs`.

In [4]:
import pandas as pd
query = "SELECT * FROM utilisateurs;"
df_users = pd.read_sql(query, conn)
df_users.head(10), df_users.shape

/tmp/ipykernel_1576/3169634379.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = pd.read_sql(query, conn)

(   id        nom   prenom  age
 0   1        Eze   Chinwe   18
 1   2     Diallo   Bintou   48
 2   3      Ngoma    Adama   51
 3   4  Soumahoro      Nia   57
 4   5     Mabika   Togbui   25
 5   6   Chilombo   Diarra   42
 6   7        Eze   Chinwe   51
 7   8      Koffi  Aminata   56
 8   9   Chilombo   Diarra   60
 9  10      Koffi   Bintou   54,
 (5000, 4))

### Étape 5 : Suppression et correction
- Nous allons supprimer les doublons en utilisant une sous-requête avec une numérotation par groupe de colonnes similaires.
- Nous allons corriger une erreur dans le prénom d'un utilisateur.

In [5]:
# Suppression du doublon
cursor.execute("""
DELETE FROM utilisateurs
WHERE id IN (
    SELECT id
    FROM (
        SELECT id, ROW_NUMBER() OVER (PARTITION BY nom, prenom, age ORDER BY id) AS rn
        FROM utilisateurs
    ) t
    WHERE t.rn > 1
);
""")
conn.commit()
print("Doublons supprimés.")

# Correction d'une erreur dans le prénom
cursor.execute("""
UPDATE utilisateurs
SET prenom = 'Lucas'
WHERE nom = 'Durand' AND prenom = 'Luc';
""")
conn.commit()
print("Erreur corrigée.")

Doublons supprimés.
Erreur corrigée.

### Étape 6 : Classification
Nous allons ajouter une colonne  `groupe` , qui segmente les utilisateurs en deux catégories :
- **jeune** : Âge inférieur à 30 ans.
- **adulte** : Âge supérieur ou égal à 30 ans.

In [6]:
# Recuperer une nouvelle fois tous les utilisateurs
query = "SELECT * FROM utilisateurs;"
df_users = pd.read_sql(query, conn)
df_users.head(10)

# Ajouter une colonne 'groupe_age'
df_users['groupe'] = df_users['age'].apply(lambda x: "jeune" if x < 30 else "adulte")
print("Données transformées avec classification :")
df_users.head()

Données transformées avec classification :

/tmp/ipykernel_1576/1617694949.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = pd.read_sql(query, conn)

   id        nom  prenom  age  groupe
0   1        Eze  Chinwe   18   jeune
1   2     Diallo  Bintou   48  adulte
2   3      Ngoma   Adama   51  adulte
3   4  Soumahoro     Nia   57  adulte
4   5     Mabika  Togbui   25   jeune

### Étape 7 : Transfert dans MongoDB
Les données enrichies seront transférées dans la base NoSQL MongoDB. Chaque document représente un utilisateur.

In [7]:
from pymongo import MongoClient

# Configuration de MongoDB
mongo_client = MongoClient("mongodb://admin:admin@mongo_container:27017/mydb?authSource=admin&authMechanism=SCRAM-SHA-256")
mongo_db = mongo_client["my_db"]  # Nom de la base
mongo_collection = mongo_db["utilisateurs"]  # Nom de la collection

# Conversion du DataFrame en dictionnaires pour MongoDB
data_dict = df_users.to_dict(orient="records")

# Insérer les données dans MongoDB
mongo_collection.insert_many(data_dict)
print("Données insérées dans MongoDB.")

Données insérées dans MongoDB.

### Étape 8 : Consultation dans MongoDB
Nous allons vérifier que les données ont bien été transférées et sont accessibles depuis MongoDB.

In [8]:
# Afficher les 5 premiers utilisateurs dans MongoDB
for user in mongo_collection.find().limit(5):
    print(user)

{'_id': ObjectId('675435c3f9a1efd8b1f83ea6'), 'id': 1, 'nom': 'Eze', 'prenom': 'Chinwe', 'age': 18, 'groupe': 'jeune'}
{'_id': ObjectId('675435c3f9a1efd8b1f83ea7'), 'id': 2, 'nom': 'Diallo', 'prenom': 'Bintou', 'age': 48, 'groupe': 'adulte'}
{'_id': ObjectId('675435c3f9a1efd8b1f83ea8'), 'id': 3, 'nom': 'Ngoma', 'prenom': 'Adama', 'age': 51, 'groupe': 'adulte'}
{'_id': ObjectId('675435c3f9a1efd8b1f83ea9'), 'id': 4, 'nom': 'Soumahoro', 'prenom': 'Nia', 'age': 57, 'groupe': 'adulte'}
{'_id': ObjectId('675435c3f9a1efd8b1f83eaa'), 'id': 5, 'nom': 'Mabika', 'prenom': 'Togbui', 'age': 25, 'groupe': 'jeune'}

### Étape 8 : Opérations CRUD dans MongoDB
- Nous allons ajouter un nouvel utilisateur.
- Nous allons modifier les informations de cet utilisateur.
- Enfin, nous procederons à sa suppression.

In [9]:
# Ajouter un nouvel utilisateur
nouvel_utilisateur = {"nom": "Parbey", "prenom": "Ester", "age": 39, "groupe_age": "adulte"}
mongo_collection.insert_one(nouvel_utilisateur)
print("Nouvel utilisateur ajouté.")

Nouvel utilisateur ajouté.
Utilisateur modifié.
Utilisateur supprimé.

In [13]:
# Afficher l' utilisateur créé
user = mongo_collection.find_one({"prenom": "Ester"})
user

{'_id': ObjectId('675435c4f9a1efd8b1f84de7'),
 'nom': 'Parbey',
 'prenom': 'Ester',
 'age': 25,
 'groupe_age': 'jeune'}

In [14]:
# Modifier un utilisateur (exemple : changer l'âge)
mongo_collection.update_one(
    {"prenom": "Ester"},  # Critère de recherche
    {"$set": {"age": 25, "groupe_age": "jeune"}}  # Modification
)
print("Utilisateur modifié.")

Utilisateur modifié.

In [15]:
# Afficher l' utilisateur modifié
user = mongo_collection.find_one({"prenom": "Ester"})
user

{'_id': ObjectId('675435c4f9a1efd8b1f84de7'),
 'nom': 'Parbey',
 'prenom': 'Ester',
 'age': 25,
 'groupe_age': 'jeune'}

In [16]:
# Supprimer un utilisateur
mongo_collection.delete_one({"prenom": "Ester"})
print("Utilisateur supprimé.")

Utilisateur supprimé.

In [18]:
# Afficher l' utilisateur modifié
user = mongo_collection.find_one({"prenom": "Ester"})
user